:root {
  --dark-white: #efedec;
  --linen: #ede8e6;
  --whitish: #fff;
  --jonquil: #F1C500;
  --rich-black: #040F0F;
  --shamrock: #66A182;
  --madder: #C3423F;
  --greh: #a5a5a7;
}

a {
  text-decoration: none;
  color: inherit;
}

#links>a {
  padding: 0vh 1vw;

}



html {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;

}

body {
  margin: 0;
  border: 0;
  display: grid;
  grid-template-columns: 20vw 25vw 5vw 25vw 20vw;
  background-color: var(--linen);
}

#content {
  grid-column-start: 2;
  grid-column-end: 5;
}

#left {
  grid-column-start: 2;
  font-size: 2.5vw;
  margin-right: 0;
  padding: 0.5vw;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 600;
}

#links {
  font-weight: 600;
  text-align: center;
  grid-column-start: 2;
  font-size: 1.25vw;
}

img,
video {
  width: 35vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.sbs {
  width: 25vw !important;
  display: inline-block !important;
  padding-left: 1vw;
}

#title {
  font-weight: bold;
  font-size: 4vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

time {
  position: relative;
  top: -3vh;
  font-size: 3vh;
}

p {
  font-size: 2vh;
  line-height: 1.5;
}

figcaption {
  margin-top: 0.5vh;
  /* font-weight: bold; */
  font-size: 2.5vh;
}

#summary {
  line-height: 4vh;
}