@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,500;1,400&family=Quicksand&display=swap');

:root {
  --dark-white: #efedec;
  --linen: #ede8e6;
  --whitish: #fff;
  --jonquil: #F1C500;
  --rich-black: #040F0F;
  --eerie-black: #252422;
  --shamrock: #66A182;
  --madder: #C3423F;
  --greh: #a5a5a7;

  --bg-1: #fefefe;
  --card-bg: #f7f6f6dc;
  --bg-2: #eae9e9;
  --accent-blue: #12263A;
  --accent-grey: #6B818C;
}

a {
  text-decoration: none;
  color: var(--accent-blue);
  font-weight: 600;
}


html {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;

}

body {
  margin: 0;
  border: 0;
  display: grid;
  grid-template-columns: auto 40vw auto;
  background-color: var(--bg-1);
  color: var(--eerie-black)
}

/* #posts-list {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
} */


#content {
  grid-column-start: 2;
  grid-column-end: 3;
  /* font-family: 'Noto Sans', sans-serif; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

}

#left {
  grid-column-start: 2;
  font-size: 2.5vw;
  margin-right: 0;
  padding: 0.5vw;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 600;
}

#links {
  font-weight: 600;
  text-align: center;
  grid-column-start: 2;
  font-size: 1.25vw;
}

img,
video {
  width: 35vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.sbs {
  width: 25vw !important;
  display: inline-block !important;
  padding-left: 1vw;
}

#title {
  font-weight: bold;
  font-size: 4vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

time {
  position: relative;
  top: -3vh;
  font-size: 3vh;
}

p {
  font-size: 16px;
  line-height: 1.65;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

figcaption {
  margin-top: 0.5vh;
  /* font-weight: bold; */
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

#summary {
  line-height: 4vh;
  font-size: 18px;
}


#bar {
  height: 10vh;
  margin: 0;
  /* padding-top: 5vh; */
}

#right {
  position: absolute;
  right: 5vw;
  top: 4vh;
}

#right>img {
  width: 3vw;
}

.blog-post-card {
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: var(--card-bg);
  border: var(--accent-grey) 3px solid;
  border-radius: 2px 20px 20px 2px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192); */
  width: auto;
  max-width: 12vw;
  background-blend-mode: color-burn;
}

/* .blog-post-card:nth-child(2) {
  border-color: var(--jonquil);
} */

.blog-post-card>p {
  font-size: small;
}

#home-tag {
  position: absolute;
  top: 20px;
  left: 75px;
  font-size: 32px;
}

#deck {
  width: 70vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;

}

#first-post {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-bg);
  border-radius: 5px;
  border: 1px solid;
  border-color: #12263a3a;
  padding: 8vmin;
  /* backdrop-filter: blur(20px);  */
}

#first-post::after {
  content: "";
  height: 5px;
  background-color: var(--accent-blue);
  border-radius: 2.5px;
  width: 120%;
  position: relative;
  left: -10%;
  top: 10vmin;
}

#logo {
  position: absolute;
  top: 19px;
  left: 20px;
  z-index: 2;
  width: 100px;
  height: auto;
  filter: invert(100%);
}