{{ define "main" }}
<h1 id="blog-title">Projects</h1>
<div class="project-post-list">
    {{ range $index, $element := (where .Site.Pages "Params.list" true) }}
    {{ if $index }}<hr class="project-post-divider">{{ end }}
    <a href="{{ .Permalink }}" class="project-post-item">
        <div class="project-post-header">
            <h2 class="project-post-title">{{ .Title }}</h2>
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
            <span class="project-post-date">{{ .PublishDate.Format $dateFormat }}</span>
        </div>
        <p class="project-post-summary">{{ .Params.summary }}</p>
    </a>
    {{ end }}
</div>
{{ end }}